.dnd-section {
    padding: 40px 0;
}
.top-content {
    margin-bottom: 32px;
}
.d-flex {
    display: flex;
}
.row-reverse {
    flex-direction: row-reverse;
}
.align-center {
    align-items: center;
}
.large-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}
.banner-top-padding {
    padding-top: 120px;
}

.system-error {
    padding: 14rem 0;
}

@media (max-width: 991px) {
    .large-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}
.banner-top-padding {
    padding-top: 100px;
}

}
