.video-banner {
  position: relative;
  width: 100%;
  padding-top: 272px;
  padding-right: 0px;
  padding-bottom: 168px;
  padding-left: 0px;
}
.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.video-bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.z-1 {
  z-index: 1;
}
.content {
  position: relative;
  z-index: 2;
}
.hero-banner {
  padding: 120px 0;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  opacity: 0.5;
}

@media (min-width: 768px) {
  .hero-banner {
    min-height: 768px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
