.video-banner {
  position: relative;
  width: 100%;
  padding-top: 272px;
  padding-right: 0px;
  padding-bottom: 168px;
  padding-left: 0px;
}
.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.video-bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.video-bg video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.z-1 {
  z-index: 1;
}
.content {
  position: relative;
  z-index: 2;
}
.hero-banner {
  padding: 120px 0;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  opacity: 0.5;
}
.feature-cards-wrap .media {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-width: 1px;
    border-style: solid;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height: 100%;
    padding-top: 26px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    background-color: var(--dark);
    border-radius: 20px;
    align-items: flex-start;
    display: flex;
}

.feature-cards-wrap .image-wrap {
    margin-right: 0.9375rem;
    position: relative;
}

.feature-cards-wrap 
 .image-wrap-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .3s ease;
    background-color: var(--black);
}

.image-wrap img {
    opacity: 0;
    visibility: hidden;
}

.media-body {
    flex: 1;
}

.column {
  width: 100%;
  max-width: 25%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.shimmer-box {
  background-color: #e2e8f0;
  height: 8rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.shimmer-heading {
  background-color: #e2e8f0;
  height: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
}

.shimmer-subheading {
  background-color: #e2e8f0;
  height: 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.shimmer-text {
  background-color: #e2e8f0;
  height: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.mb-large {
  margin-bottom: 2.5rem;
}


@media (min-width: 768px) {
  .hero-banner {
    min-height: 768px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
