:root {
    --primary: #fe9e0d;
    --secondary: #0d9efe ;
    --body__color: #000;
    --body_background_color: #ffffff;
    --black: #000;
    --white: #fff; 
    --card-background-color: #f6f6f6;
    --border-color: #ddd;   
    --error: #942e1e;    
}

:root[data-theme="dark"] {
    --body_background_color: #000;
    --body__color: #fff;
    --black: #fff;
    --white: #000;
    --dark: #2a2a2a;
    --card-background-color: #2a2a2a;
    --border-color: #444;
    --error: #D5442A;
}

.lead {
    font-size: 18px;
}

.text-white {
    color: var(--white) !important;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p {
  color: inherit;
}

.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center .cta-group {
    justify-content: center;
}