* {
margin: 0;
padding: 0; 
box-sizing: border-box;   
}

body {
font-family: "Reem Kufi", sans-serif;
font-optical-sizing: auto;
line-height: 1.4;
font-weight: 400;
background-color: var(--body_background_color);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
}

p:last-child {
    margin-bottom: 0;
}
a, button {
    transition: all 0.15s linear;
}
.cta-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}
button {    
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;    
    padding: 8px 16px;    
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}
button:hover {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: #fff;
}
button.secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: #fff;
}
button.secondary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
}
img {
    max-width: 100%;
}

img, svg {
    vertical-align: middle;
}